@model PassionProject5.Models.ItemDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>


<h2>Are you sure you want to delete this Item?</h2>
<a href="/Item/List" class="btn">Cancel</a>
<div class="delete">
<h2>@Model.ItemName</h2>
<div>Item Number @Model.ItemNum</div>
<form action="/Item/Delete/@Model.ItemID" method="POST">
    <input type="submit" value="Confirm Delete" class="btn"/>
</form>
</div>