@model PassionProject5.Models.ViewModels.DetailsItem
@{
    ViewBag.Title = "View";
}

<a href="/Item/List">Go back to list</a>
<a href="/Item/Edit/@Model.SelectedItem.ItemID">Update</a>
<a style="color:#ab2020;" href="/Item/DeleteConfirm/@Model.SelectedItem.ItemID">Delete</a>
<h2>@Model.SelectedItem.ItemName</h2>
<div>Item Number: @Model.SelectedItem.ItemNum</div>
<div style="margin-top:100px">
    <h3>Purchases related to this item</h3>
    @foreach (var purchase in Model.RelatedPurchases) { 
    <a href="/Purchase/Details/@purchase.PurchaseID">@purchase.PurchaseNum</a>
    }
</div>
