
@{
    ViewBag.Title = "Create";
}

<h2>Create Item</h2>
<form action="/Item/Create" method="POST">
    <div>
        <label>Item Name: </label><input type="text" name="ItemName" />
    </div>
    <div>
        <label>Item Number: </label><input type="number" name="ItemNum" />
    </div>
    <input type="submit" value="Add Item" />
</form>

