@model PassionProject5.Models.ViewModels.DetailsPurchase
@{
    ViewBag.Title = "View";
}
<div class="listborder">
    <a href="/Purchase/List" class="btn">Go back to list</a><br />
    <a href="/Purchase/Edit/@Model.SelectedPurchase.PurchaseID" class="btn">Update</a><br />
    <a href="/Purchase/DeleteConfirm/@Model.SelectedPurchase.PurchaseID" class="btn">Delete</a>
    <div class="groupdetails">
        <div>@Model.SelectedPurchase.ItemName (ID @Model.SelectedPurchase.PurchaseID)</div>
        <div>Purchase Number: @Model.SelectedPurchase.PurchaseNum</div>
    </div>
</div>

