@model PassionProject5.Models.ViewModels.UpdatePurchase
@{
    ViewBag.Title = "Edit";
}
<a href="/Purchase/List" class="btn">Go back to list</a><br />
<h2>Update Purchase</h2>
<form action="/Purchase/Update/@Model.SelectedPurchase.PurchaseID" method="POST">
    <div style="display:none;">
        <input type="text" name="PurchaseID" value="@Model.SelectedPurchase.PurchaseID" />
    </div>
    <div>
        <label>Purchase Number: </label><input type="number" name="PurchaseNum" value="@Model.SelectedPurchase.PurchaseNum" />
    </div>
    <div>
        <label class="itemoption">Item ID:</label>
        <select name="ItemID">
            @foreach (var item in Model.ItemOptions)
            {
                <option value="@item.ItemID">@item.ItemName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Purchase" class="btn" />

    </div>
</form>
