@model IEnumerable<PassionProject5.Models.PurchaseDto>
@{
    ViewBag.Title = "List";
}
<div class="listborder">
<h2>Purchase List</h2>
<a href="/Purchase/New" class="btn">New Purchase</a>
@foreach (var purchase in Model) { 
<div class="purchaselist">
    <div><a href="/Purchase/Details/@purchase.PurchaseID" class="listlink purchaseline">@purchase.ItemName</a></div>
<div class="purchaseline">Purchase Number: @purchase.PurchaseNum</div>
</div>
}
</div>