@model IEnumerable<PassionProject5.Models.ItemDto>
@{
    ViewBag.Title = "Create";
}
<a href="/Purchase/List" class="btn">Go back to list</a><br />
<h2>Create Purchase</h2>
<form action="/Purchase/Create" method="POST">
    <div>
        <label>Purchase Number: </label><input type="number" name="PurchaseNum" />
    </div>
    <div>
        <label class="itemname">Item Name: </label>
        <select name="ItemID">
            @foreach (var item in Model)
            {
                <option value="@item.ItemID">@item.ItemName</option>
            }
        </select>
    </div>
    <input type="submit" value="Add Purchase" class="btn" />
</form>

